# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

bin
.go
.push-*
.container-*
.dockerfile-*

go.sum
/postgres/
*.db
/config/bot_config.yaml
/cert/
*.env
/docker/server-docker/docker-compose.yml
