{{template "header.html" .}}
<section class="hero is-primary">
    <br>
    <div class="container is-medium">
        <h1 class="title">
            Добро пожаловать на сайт Напоминатель
        </h1>
        <p class="subtitle">
            Сайт работает вместе с телеграм-ботом <strong><a href="https://t.me/event_notifyer_Golo_Skull_bot">Бот
                    напоминатель</a></strong>!
        </p>
    </div>
    <br>
</section>
<br>
<section class="container">
    <div class="columns">
        <div class="column">
            <figure class="image is-5by3">
                <img class="is-rounded" src="/assets/main.jpeg">
            </figure>
        </div>
        <div class="column">
            <div class="content">
                <h2>Приветствую! Данное веб-приложение может быть использовано в следующих целях:</h2>
                <ul>
                    <li>Ведение индивидуальной системы событий</li>
                    <li>Организация оповещения о предстоящих событиях</li>
                    <li>Фильтрация и редактирование событий</li>
                </ul>
            </div>
        </div>
    </div>

</section>
{{template "footer.html"}}